SET(CPP_FILES
     ../../components/c++/__FULLY_QUALIFIED_COMPONENT_PATH__AbstractImplementation.cpp
     ../../src/__FULLY_QUALIFIED_COMPONENT_PATH__Implementation.cpp
     ../../components/c++/__FULLY_QUALIFIED_COMPONENT_PATH__C2CxxProxy.cpp 
     ../../components/c++/tinyxml_ascodt.cpp
)

-- INSERT HERE --