SET(SRC_COMP
     ../../components/java/__PATH_FULL_QUALIFIED_NAME__AbstractImplementation.cpp
     ../../src/__PATH_FULL_QUALIFIED_NAME__Implementation.cpp
     ../../components/java/__PATH_FULL_QUALIFIED_NAME__C2CxxProxy.cpp 
     
)

-- INSERT HERE --