SET(SRC_COMP
     ../../components/java/__PATH_FULL_QUALIFIED_NAME__AbstractImplementation.f90
     ../../src/__PATH_FULL_QUALIFIED_NAME__Implementation.f90 
     ../../components/java/__PATH_FULL_QUALIFIED_NAME__FProxy.f90
     ../../components/java/__PATH_FULL_QUALIFIED_NAME__C2FProxy.cpp 
     
)

-- INSERT HERE --