#include "__PATH_FULL_QUALIFIED_NAME__Implementation.h"

__CXX_FULL_QUALIFIED_NAME__Implementation::__COMPONENT_NAME__Implementation(){

}

__CXX_FULL_QUALIFIED_NAME__Implementation::~__COMPONENT_NAME__Implementation(){

}
/*
uncomment for remote applications
extern "C" void
#ifdef _WIN32
MAIN_LOOP();
#else
main_loop_();
#endif

int main(){
#ifdef _WIN32
  MAIN_LOOP();
#else
  main_loop_();
#endif

}
*/
-- INSERT HERE --