#include "__PATH_FULL_QUALIFIED_NAME__Implementation.h"

__CXX_FULL_QUALIFIED_NAME__Implementation::__COMPONENT_NAME__Implementation(){

}

__CXX_FULL_QUALIFIED_NAME__Implementation::~__COMPONENT_NAME__Implementation(){

}
/*
uncomment for remote applications
extern "C" void main_loop_();
int main(){
     main_loop_();
}
*/
-- INSERT HERE --